header {
    padding: 60px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    background-color:  linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    text-align: center;
    color: black;
    font-size: 60px;
}


@media only screen and (max-width: 990px) {
}

@media only screen and (max-width: 715px) {
}

@media only screen and (min-width: 901px) {
}

